@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
body {
  font-family: Roboto;
  background-color: lightgray;
  margin-top: 64px;
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  height: 64px;
  padding: 0 24px;
}

span.colmar {
  font-weight: 400;
}

span.academy {
  font-weight: 300;
  color:gray;
}

 nav ul {
  display: flex;
  margin-left: auto;
 }

 nav ul li {
   margin-left: 16px;
 }

.banner {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
}

.banner img {
  padding: 32px 24px;
  width: 60%;
}

.learn-something {
  width: 310px;
  min-width: 310px;
}

.learn-something h1 {
  font-weight: 700;
  color:rgb(61, 60, 60);
  font-size: 40px;
  margin: 15px 0;
}

.learn-something h4 {
  font-weight: 400;
  color: rgb(71, 67, 67);
  font-size: 20px;
  margin: 15px 0;
}

.learn-something button {
  width: 80%;
  margin: 15px 0;
  padding: 8px 0;
  background-color: rgb(59, 57, 57);
  color: white
}

@media (max-width: 920px) {
  .banner {
    display: inline-block;
  }

  .banner img {
    width: 100%;
    margin: 0;
  }

  .learn-something {
    margin: auto;
  }
}

.information {
  display: flex;
  background-color: white;
  color:rgb(61, 60, 60);
}

.practicing {
width: 60%;
padding: 32px 24px;
}

.practicing img {
  width: 100%;
  
}

.practicing span {
  display: inline-block;
  width: 80%;
  font-weight: 300;
  line-height: 1.5;
  color: rgb(71, 67, 67);
}

.practicing h5 {
  color: rgb(71, 67, 67);
  font-weight: 400;
}

.about {
  width: 40%;
  padding-top: 16px;
  color: rgb(71, 67, 67);
}
.about img {
  height: auto;
  padding: 16px;
}
.about img.hide-desktop {
  width: 100%;
}

.about img.hide-mobile {
  width: 35%;
}

.about h2{
margin-bottom: 8px;
margin-top: 0;
}

.about span {
  display: inline-block;
  line-height: 1.5;
  margin-bottom: 8px;
}
.about ul {
  display: flex;
  flex-direction: column;
}

.about li {
  display: flex;
  align-items: center;
}

.about div {
  display: flex;
  flex-direction: column;
}
.about a {
  color: dodgerblue;
}

.lecture {
  background-color: lightgrey;
}

@media (min-width: 600px) {
  .hide-desktop {
    display: none;
  }
}

@media (max-width: 599px) {
  .hide-mobile {
    display: none;
  }
  nav {
    justify-content: space-between;
  }

  .about {
    width: 100%;
    padding-bottom: 32px;
  }
  
  .about li {
    flex-direction: column;
    align-items: flex-start;
  }

  .lecture {
    background-color: white;
  }

  .details {
  padding: 0 32px;
  }
}


